@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply 
      flex flex-row items-center justify-center gap-2 rounded-md px-4 py-3
      text-white bg-sky-500 hover:bg-sky-600 shadow-md shadow-sky-500/50
      hover:shadow-sky-600/50 transition duration-200 ease-in-out;
  }

  .btn-danger {
    @apply 
      flex flex-row items-center justify-center gap-2 rounded-md px-4 py-3
      text-white bg-red-500 hover:bg-red-600 shadow-md shadow-red-500/50
      hover:shadow-red-600/50 transition duration-200 ease-in-out;

    &[disabled] {
      @apply bg-red-300 shadow-red-300/50 cursor-not-allowed;
    }
  }


  .btn-muted {
    @apply
      flex flex-row items-center justify-center gap-2 rounded-md px-4 py-3
      hover:bg-sky-300 hover:bg-opacity-50 transition duration-200 ease-in-out;
  }

  .input {
    @apply
      rounded-md border-none bg-sky-50 px-4 py-3 outline-none focus:border-none
      autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)] focus:outline-none
      focus:ring-2 focus:ring-sky-500 placeholder:text-sky-800;
  }
}

@layer utilities {
  .without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }
}
